<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="admin" method="post">
        <div class="form-group">
            <label for="text">User:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter name" name="username">
        </div>
        <div class="form-group">
            <label for="pwd">Pass:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter price" name="password">
        </div>
        <button type="submit" id="btcheck">Check Login</button>
    </form>
</body>

</html>